@import "tailwindcss";

.white-gradient {
  background-color: linear-gradient(#fcf0e6, #fefaf6);
  background-repeat: no-repeat;
}
.shad {
  text-shadow: 10px 10px 0px #e9842b;
}

.circle {
  @apply rounded-r-full rounded-l-full;
}
.outline-border {
  @apply border border-[#C1C0BFB2];
}
p {
  @apply font-medium text-[18px] text-[#787675];
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  pointer-events: none;
}

.ctabg {
  background-image: url("/ctabgpic.png");
  background-repeat: none;
  background-size: cover;
}
